/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.btn{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px 12px 16px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  
    

   
   
}
/* main style */
header{
    background-color: #FFFFFF;
    width: 1600px;
    width: 100%;
   
}
nav{
    max-width: 1341px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo img{
    width: 139px;
    height: 60px;
  
  
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    font-family: Inter;
}
 .hero{

    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   width: 1600px;
   height: 674px;
   margin: 0 auto;
   background: url(./assets/hero-bg.png);
   font-family: Inter;
}
.container{
    width: 1360px;
    height: 379px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .dot{
    height: 10px;
    width: 10px;
    background-color: #30B868;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 2px 10px #30B868;
    gap: 6px;
}
.badge{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    justify-content: center;
}

.container h1{
    font-size: 72px;
    color: #FFFFFF;
    width: 770px;
    height: 168px;  
}

.container h1 span{
    color: #30B868;
}

#pra{
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin-top: 16px;
}

div .hero-button-1{
    width: 251px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: Inter;
    margin-top: 32px;
    cursor: pointer;
}
div .hero-button-2{
    width: 198px;
    height: 52px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    margin-top: 32px;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

#freaturs{
    width: 1600px;
    height: 448px;
    display: flex;
    margin: 0 auto;
    font-family: Inter;
}

.skil-container{
    width: 1360px;
    height: 152px;

}
.skil-container h2{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 25px;
    color: #001931;
}
 .pragrap p{
    width: 1360px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
 }
 
 #card-grid{
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 1360px;
    height: 300px;
 }
 .card{
    width: 322px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #627382;
    border-radius: 8px;
    gap: 24px;
    padding: 16px;
    box-shadow: 0 6px 10px 0 #001931;
 }
 .card:hover{
    background-color: aquamarine;
 }
 .card img{
    width: 32px;
    height: 32px;
 }

 .logo-box{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    align-self: center;
    justify-content: center;
    color: #001931;
 }
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

#main-sec{
    width: 1600px;
    height: 840px;
    display: flex;
    margin: 0 auto;
    font-family: Inter;
}
.solution-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    width: 1360px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    margin: 120px;
}
.solution-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.contain span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    text-align: left;
}

.contain h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    color: #001931;
    padding-top: 36px;
}

.contain p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #001931;
    text-align: left;
    padding-top: 16px;
}

.solution-list li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #001931;
    gap: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.solution-list img{
    width: 20px;
    height: 20px;
}